apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: ibrahimlboss/product-service:latest
          imagePullPolicy: Always 
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://$(DB_HOST):$(DB_PORT)/$(DB_NAME_PRODUCT)?createDatabaseIfNotExist=true"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: microservices-secrets
                  key: DB_USER
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: microservices-secrets
                  key: DB_PASS
            - name: RABBITMQ_USER
              valueFrom:
                secretKeyRef:
                  name: microservices-secrets
                  key: RABBITMQ_USER  
            - name: RABBITMQ_PASS
              valueFrom:
                secretKeyRef:
                  name: microservices-secrets
                  key: RABBITMQ_PASS
            - name: SERVER_PORT
              value: "8080"
          envFrom:
            - configMapRef:
                name: microservices-config